h1 {font-family: sans-serif; text-align: center; background-color: yellow;}
h2 {font-family: sans-serif; text-align: center; background-color: cyan; }
#tomato {padding: 5pt;float: right;height: 25%;width: 25%; }
footer{text-align: center;background-color: yellow; bottom: 0; left: 0; position: fixed; width: 100%;'

section.section1
{
    background-color: #FFFFCC; visibility: hidden;
    position: absolute; top: 125px; left: 10px; width: 600px;
}
section.section2
{
    background-color: #DCDCDC; visibility: hidden;
    position: absolute; top: 125px; left: 10px; width: 600px;
}

section.section3
{
    background-color: #FFFFCC; visibility: hidden;
    position: absolute; top: 125px; left: 10px; width: 600px;
}


